{%- form 'contact', id: 'requestInvoice', class: 'request-invoice-form' -%}
    <h3>
        <strong>Request an invoice</strong>
    </h3>

    <p>
        If you need to request an invoice for your accounting requirements, please use this form below.
    </p>
    
    <input type="hidden" value="{{ product.title }}">


{%- endform -%}