{% if (product.metafields.custom.disable_buy == 'true') %}

    {%- form 'contact', id: 'requestInvoice', class: 'request-invoice-form' -%}
        <h3>
            <strong>Request an invoice</strong>
        </h3>

        <p>
            If you need to request an invoice for your accounting requirements, please use this form below.
        </p>

        <input type="hidden" value="{{ product.title }}">

        <label for="your-email">Your email:</label>
        <input id="your-email" type="email" placeholder="Your email">
        <button type="submit">Request an invoice</button>

    {%- endform -%}

{% endif %}