.request-invoice-form {
    border: 1px solid black;
    border-top: 1px solid black;
    padding: 2rem;
}

.request-invoice-form h3 {
    margin-top: 0;
}

.request-invoice-form input[type="email"] {
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin-bottom: 2rem;
}

.request-invoice-form label {
    display: block;
}

.request-invoice-form button {
    background: var(--gradient-background);
    color: rgb(var(--color-foreground));
}